.lab-index {
    padding: 10px;
    padding-top: 40px;
    margin: 20px;
    border: 5px solid #9cc585;
  }
  .lab-index .title {
    color: #444;
    border-bottom: 1px solid #1f6876;
    border-left: 5px solid #1f6876;
    padding-left: 5px;
  }
  .lab-index img {
    margin-top: 15px;
  }
  .lab-index ul {
    padding-left: 50px;
    padding-top: 20px;
  }